---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  // const allPosts = Object.values(
  //   import.meta.glob("../posts/*.md", { eager: true })
  // );

  const allPosts = await getCollection("blog");

  const tags = [...new Set(allPosts.flatMap((post: any) => post.data.tags))];
  return tags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
